<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Edit My Appointments</title>
  {% load staticfiles %}
  <link rel="stylesheet" href=" {% static 'odin/css/master.css' %} ">
  <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/smoothness/jquery-ui.css">
  <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
  <script type="text/javascript">
    $(document).ready(function() {
      $("#datePicker").datepicker({
        dateFormat: "yy-mm-dd"
      });
    });

  </script>

</head>
<body>
  <main>
    <header>
      <h1>Edit Appointment</h1> <!-- Need Username -->
      <h4><a href="{% url 'odin:home' %}">Dashboard</a></h4>
      <h4><a href="{% url 'loginReg:logout' %}">Log Out</a></h4>
    </header>
    {% if messages %}
      {% for message in messages %}
        <p class="flash">{{ message }}</p>
      {% endfor %}
    {% endif %}
    <section id="currentAppts">
      <!-- <h2>Create an Event</h2> -->
      {% if event and status_list %}
      <form class="" action="{% url 'odin:doUpdate' event.id %}" method="post">
        {% csrf_token %}
      <table>
        <tr>
          <td>Task Name:</td><td><input type="text" name="task" value="{{ event.task }}"></td>
        </tr>
        <tr>
          <td>Status:</td>
          <td>
            <select class="" name="status">
              {% for status_type, status in status_list %}
              <option value="{{ status }}" {% if event.status == status %}selected{% endif %}>{{ status }}</option>
              {% endfor %}
              <!-- <option value="DONE">Done</option>
              <option value="MISSED">Missed</option>
              <option value="PENDING">Pending</option> -->
            </select>
          </td>
        </tr>
        <tr>
          <td>Date:</td><td><input type="text" id="datePicker" name="eventDate" value="{{ event.eventDate|date:"Y-m-d" }}"></td>
        </tr>
        <tr>
          <td>Time: {{ event.eventTime|time:"H:i" }}</td>
          <td>
            <select class="" name="eventTime">
              {% for time_key, timeval in time_list %}
              <option value="{{ timeval }}" {% if event.eventTime == timeval %}selected{% endif %}>{{ timeval }}</option>
              {% endfor %}
              <!-- <option value="01:00">01:00</option>
              <option value="02:00">02:00</option>
              <option value="03:00">03:00</option>
              <option value="04:00">04:00</option>
              <option value="05:00">05:00</option>
              <option value="06:00">06:00</option>
              <option value="07:00">07:00</option>
              <option value="08:00">08:00</option>
              <option value="09:00">09:00</option>
              <option value="10:00">10:00</option>
              <option value="11:00">11:00</option>
              <option value="12:00">12:00</option>
              <option value="13:00">13:00</option>
              <option value="14:00">14:00</option>
              <option value="15:00">15:00</option>
              <option value="16:00">16:00</option>
              <option value="17:00">17:00</option>
              <option value="18:00">18:00</option>
              <option value="19:00">19:00</option>
              <option value="20:00">20:00</option>
              <option value="21:00">21:00</option>
              <option value="22:00">22:00</option>
              <option value="23:00">23:00</option>
              <option value="24:00">24:00</option> -->
            </select>
          </td>
        </tr>
        <tr>
          <td></td>
          <td><input type="submit" name="" value="Update"><button type="button" name="button" onclick="window.location.href='{% url 'odin:home' %}'">Cancel</button></td>
        </tr>
        {% endif %}
      </table>
      </form>
      {% if reviews %}
        {% for review in reviews %}
          <h4><a href="{% url 'reviewer:reviews' review.title.id %}">{{review.title.title}}</a></h4>
          <!-- <p>Rating: {{review.rating}}</p> -->
          <img src="../../static/reviewer/img/{{review.rating}}.jpg" alt="{{review.rating}}">
          <p><a href="{% url 'reviewer:user' review.creator.id %}">{{review.creator.first_name}}</a> says: {{review.content}}</p>
          <p>Posted: {{review.created_at}}</p>
        {% endfor %}
      {% endif %}

    </section>
  </main>
</body>
</html>
